{% extends 'admin/base.html' %}
{%load static%}
{% block branding %}

<h1 id="head">
  <a href="https://untidy-railway-production.up.railway.app/admin"><img src="https://untidy-railway-production.up.railway.app/media/shop/images/logoadmin.jpeg" width="35" height="35" /></a>
  BHARATI VIDYPEETH RESTAURANT
</h1>

{% endblock %}

{% block extrastyle%}

<link rel="stylesheet" href="{% static '/shop/assets/css/adminstyle.css'%}" />

{%endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
